@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background-start: #a5a7a8;
  --background-end: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background-start: #527;
    --background-end: #000;
  }

  body {
    color: var(--foreground);
    background: linear-gradient(to bottom, transparent, var(--background-end))
      var(--background-start);
    background-repeat: no-repeat;
  }
}
